<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="ApiTest1">
        <classes>
            <class name="com.zhangsy.project.testcase.ApiTest">
                <methods>
                    <include name="test"/>
                    <!--<include name="test2"/>-->
                    <include name="test3"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="ApiTest2">
        <classes>
            <class name="com.zhangsy.project.testcase.ApiTest">
                <methods>
                    <include name="test"/>
                    <!--<include name="test2"/>-->
                    <include name="test3"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.zhangsy.project.report.ExtentTestNGReporterListener" />
    </listeners>
</suite>